body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F7FB !important;
}
.img{margin-left: 50px;
  height:200px;
  width: 200px;
  margin-bottom: 20px;
 
}
a{
  text-decoration: none !important;
  color:black
}
ul{
  margin-left: 50px;
  margin-top: 20px;
}
.iconss{
  margin-left:20px;
  cursor:pointer
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page-item{
  margin-left:4px;
  margin-right: 4px;
  padding-left:5px;
  padding-right:5px;
  border:1px solid #007bff;
}
::placeholder{
  color: white;
  
  height: 80px;
  border-radius: 10px;
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
}
.nav{
  display:flex;
}
.button{
  display: inline-block
}
.input{
  margin-top: 0px;
  margin-bottom: 10px;
  border: none;
  width:600px;
  margin-left: 20%;
  height:50px;
  color: white;
  background-color:rgba(0,0,0,1);
}
.col1{margin-left:6%;
width:20%;
display:flex;
flex-direction: column;

}
.true{
  visibility: hidden;
}
.col1 label{
  display:inline
}
.col1 input{
  display: inline
}
.col2{
 
  width:70%;

}
table{
 width: 100%;
  border-collapse: collapse;
  height:70vh;
  margin-top: 5px;
}
table th{
  text-align: middle;
  padding: 12px 24px;
  font-size: 14px;

}
thead{
  background-color: white;
  border-bottom: 1px solid #007bff
}
table > tr {
  vertical-align: middle;
}
.pagewrapper{    width: 100%;
  box-sizing: border-box;
  padding: 0 8% 4%;}

.list{
  width:100%
}
.tbody tr{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody td{
  background-color: #fff;
  border-bottom: 4px solid #f6f7fb;
  text-align: left;
  padding: 12px 24px;
  font-size: 14px;
}
.SecondaryText{
  color: #8c8c8c;
}
.PrimaryText{
  color: rgba(0,0,0,.8);
  font-weight: 500;
}
.pagination >li >a{
  border: 1px solid #007bff;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination{
  margin-top: 30px;
  position:fixed;
  bottom:20px;
  left:1%
}
.active >a{
  color:white
}
.pagination > .active >a{
  background-color: #007bff !important;
  border-color: #007bff;
  color: #fff !important;
}

.pagination >.active >a,.pagination > li:first-child >span,.pagination >li:last-child >a{
  border-radius: unset;
}
.svg{font-weight: bolder;
   
  width: 30px;
}
.count{position: relative;
  left:25px;
  color: white;
  font-size: 20px;
  width: 100%;
  top:-50px
}
.list{align-items: center;
  justify-content: space-around;
  display: flex;
  list-style-type: none;
}
.item{
  padding:5px;
  margin-left: 5px;
  margin-right: 5px;
}
.header{
  background-color: black;
  padding-top: 20px;
  margin-bottom: 2px;
  color: wheat;
}
.header a{
  text-decoration: none !important;
  color:white !important
}
.checkout{background-size: cover;
  background-size: contain;
  background-repeat:repeat;
 margin-top: -97px;
  background-image: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg");
}
.checkout1{
  background-size: cover;
height:100vh;
  background-repeat:no-repeat;
 margin-top: -17px;
  background-image: url("https://assets.website-files.com/5e853c3383474026e43f2c78/5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpg");

}
.filteroptions{
  display: flex;
  flex-direction: column;
}
.options{
  margin: 6px 0;
  cursor: pointer;
}